h1{color: #f40d0d;font-size: 25px; font-family: sans-serif;">ESCUELA ITINERANTE DANZAMOS Y MAS
}
p{
    color: rgb(66, 8, 97);font-family: Arial, Helvetica, sans-serif ;"> Espacios creativos de conexión y bienestar;
}
image{
    border: 1px #3a2f39a7;
}